---
:enabled: true

:externalipam:
  :phpipam:
    :url: 'https://phpipam.example.com'
    :user: 'phpipam_api_user'
    :password: 'phpipam_password'
  :netbox:
    :url: 'https://netbox.example.com'
    :token: 'netbox_api_token'